
<!doctype html>{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static '/styles/itmes.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static "styles/items.css" %}">
        <link rel="stylesheet" href="{% static "styles/tops.css" %}">
        <title>fuck</title>
    </head>
    <body>
        <div class="app-container" id="app"></div>
    <script src="{% static "main.js/main.js" %}"></script>
    </body>
</html>
