  .post{
    border:1px solid #efefef;
    border-radius:5px;
    width:270px;
    margin:20px auto 50px auto;
    padding:0;
    }
    .post-image{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    }
    .post-footer{
    margin:0;
    padding:15px;
    }
    .price{
    display:inline-block;
    width:43%;
    font-size:15px;
    color:#555;
    margin:15px 3% 3% 3%;
    font-family:Roboto;
    }
    .add-btn{
    margin-top:20px;
    background-color:#7c396c;
    padding:5px;
    color:#efefef;
    border-radius:3px;
    font-size:13px;
    font-family:Roboto;
    text-align:center;
    }
    .buy-btn{
    width:43%;
    text-decoration:none;
    text-align:center;
    border-radius:3px;
    display:inline-block;
    background-color:#7c396c;
    padding:5px;
    margin:3%;
    color:#fff;
    font-family:Roboto;
    font-size:13px;
    }
    .caption{
    font-family:Raleway;
    font-size:18px;
    color:#555;
    }
    .flex{
        border:1px solid #efefef;
        border-radius:3px;
        display:flex;
    }
    .caption-cont{
        text-align:center;
        padding-bottom:10px;
    }
    .case-cont{
        text-align:center;
        padding:10px;
    }
    .case{
        color:#333;
        font-family:Raleway;
        font-size:40px;
    }